
.img{
    height: 10rem;
    width: 10rem;
    border-radius: 50rem;
}
.button_home{
    margin-top: 10px;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-home {
    color: red;
}