
.img{
    height: 10rem;
    width: 10rem;
    border-radius: 50rem;
}
.button_home{
    margin-top: 1rem;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-btn {
    background-color: red;
    text-align: center;

}