.green_box{
    display: flex;
    margin: 0;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 34rem;
    width: 320px;
    height: 550px;
    border: 0.1rem solid gray;
 
    background-color: rgb(39, 37, 37);
    border-radius: 2rem;
    
    
}